<div
  style="font-size: large;width:100%"
  class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
>
  <div style="height: 50px">
    <a
      href=""
      class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <span class="fs-5 d-none d-sm-inline " style="font-size:24px;">SuperMarket</span>
    </a>
  </div>
  <hr width="100%" color="white" />

  <ul
    class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
    id="menu"
  >
    <li>
      <a href="/dashboard" class="nav-link px-0 align-middle" onmouseover="this.style.scale=1.2;" onmouseout="this.style.scale=1">
        <i class="fs-4 bi-people"></i>
        <span class="ms-1 d-none d-sm-inline text-white">Home</span>
      </a>
    </li>

    <% if (currentUser.user_type == "Manager"){%>
    <li>
      <a href="/sales-statistics" class="nav-link px-0 align-middle" onmouseover="this.style.scale=1.2;" onmouseout="this.style.scale=1">
        <i class="fs-4 bi-table"></i>
        <span class="ms-1 d-none d-sm-inline text-white">Sales Statistics</span>
      </a>
    </li>
    <li>
      <a href="/signup" class="nav-link px-0 align-middle" onmouseover="this.style.scale=1.2;" onmouseout="this.style.scale=1">
        <i class="fs-4 bi-table"></i>
        <span class="ms-1 d-none d-sm-inline text-white">Add Staff</span>
      </a>
    </li>
    <% } %> <% if (currentUser.user_type != "Clerk"){ %>
    <li>
      <a href="/inventory" class="nav-link px-0 align-middle" onmouseover="this.style.scale=1.2;" onmouseout="this.style.scale=1">
        <i class="fs-4 bi-table"></i>
        <span class="ms-1 d-none d-sm-inline text-white">Inventory</span>
      </a>
    </li>
    <% } %>
    <!-- <% if (currentUser.user_type == "Manager"){ %>
            <li>
                <a href="/order" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Order Items</span>
                </a>
            </li>
        <% } %> -->
    <% if (currentUser.user_type == "Clerk"){ %>
    <li>
      <a href="/bill" class="nav-link px-0 align-middle" onmouseover="this.style.scale=1.2;" onmouseout="this.style.scale=1">
        <i class="fs-4 bi-table"></i>
        <span class="ms-1 d-none d-sm-inline text-white">Generate Bill</span>
      </a>
    </li>
    <% } %>
    <li>
      <a href="/about" class="nav-link px-0 align-middle" onmouseover="this.style.scale=1.2;" onmouseout="this.style.scale=1">
        <i class="fs-4 bi-table"></i>
        <span class="ms-1 d-none d-sm-inline text-white">About</span>
      </a>
    </li>
  </ul>
  <hr />
</div>
